**Importing all necessary libraries**

In [ ]:
import pandas as pd 
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [ ]:
data = pd.read_csv("/content/daily_weather.csv")
data.head()

   number  air_pressure_9am  ...  relative_humidity_9am  relative_humidity_3pm
0       0        918.060000  ...              42.420000              36.160000
1       1        917.347688  ...              24.328697              19.426597
2       2        923.040000  ...               8.900000              14.460000
3       3        920.502751  ...              12.189102              12.742547
4       4        921.160000  ...              92.410000              76.740000

[5 rows x 11 columns]

In [ ]:
data.columns

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

**Data Cleaning**

In [ ]:
data.isnull().any().any()

True

In [ ]:
data.isnull().sum()

number                    0
air_pressure_9am          3
air_temp_9am              5
avg_wind_direction_9am    4
avg_wind_speed_9am        3
max_wind_direction_9am    3
max_wind_speed_9am        4
rain_accumulation_9am     6
rain_duration_9am         3
relative_humidity_9am     0
relative_humidity_3pm     0
dtype: int64

In [ ]:
# Print the rows with missing values 
data[data.isnull().any(axis = 1)]

      number  air_pressure_9am  ...  relative_humidity_9am  relative_humidity_3pm
16        16        917.890000  ...              48.990000              51.190000
111      111        915.290000  ...              21.500000              29.690000
177      177        915.900000  ...              29.260000              46.500000
262      262        923.596607  ...              17.990876              16.461685
277      277        920.480000  ...              52.580000              54.030000
334      334        916.230000  ...              31.880000              32.900000
358      358        917.440000  ...              13.880000              25.930000
361      361        920.444946  ...              12.278715               7.618649
381      381        918.480000  ...              20.640000              14.350000
409      409               NaN  ...              18.487385              20.356594
517      517        920.570000  ...              79.880000              84.530000
519      519        916.250000  ...              72.550000              74.390000
546      546               NaN  ...              87.870000              70.770000
620      620        921.200000  ...              59.790000              77.750000
625      625        912.400000  ...              86.840000              64.740000
656      656        920.830000  ...              23.770000              51.630000
670      670        910.920000  ...              80.560000              88.220000
672      672        922.448945  ...              16.753670              17.804720
705      705        911.900000  ...              77.630000              59.130000
731      731        922.970166  ...              34.807753              18.418179
737      737        917.895130  ...              13.771311              16.792455
788      788        917.923442  ...               6.939692              18.793825
840      840        918.043767  ...              11.911222              18.154358
848      848        915.250000  ...              91.000000              90.780000
861      861        919.065408  ...              12.497839              13.438518
869      869               NaN  ...              85.270000              90.260000
998      998        914.140000  ...              24.200000              41.380000
1031    1031        922.669195  ...              18.920805              19.641841
1035    1035        919.670000  ...              56.860000              50.650000
1063    1063        917.300185  ...              14.972668              20.966267
1066    1066        919.564869  ...              11.657314              17.331823

[31 rows x 11 columns]

In [ ]:
# We do not need to number the rows as Pandas provides its's own indexing 
del data['number']
data.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [ ]:
#Drop out rows with null values
before_rows = data.shape[0]
data = data.dropna()
after_rows = data.shape[0]

In [ ]:
print("The number of dropped rows are {}".format(before_rows - after_rows))

The number of dropped rows are 31


**Convert to a Classification task**

**Binarize the relative humidity_3pm to 0 or 1**

We are assigning the values 0 or 1 and adding a new column 'high humidity label'. We are basically classifying the data into two categories ( binary problem ) by setting a desired value ( 24.99 , in this case ) to be the threshold and anything above is high ( 1 ) and anything below is low ( 0 ).

In [ ]:
clean_data = data.copy() # New data frame to avoid confusion 
clean_data['high_humidity_label'] = (clean_data['relative_humidity_3pm'] > 24.99) * 1
print(clean_data['high_humidity_label'])

0       1
1       0
2       0
3       0
4       1
       ..
1090    1
1091    1
1092    1
1093    1
1094    0
Name: high_humidity_label, Length: 1064, dtype: int64

In [ ]:
y = clean_data[['high_humidity_label']].copy()
y

      high_humidity_label
0                       1
1                       0
2                       0
3                       0
4                       1
...                   ...
1090                    1
1091                    1
1092                    1
1093                    1
1094                    0

[1064 rows x 1 columns]

In [ ]:
clean_data['relative_humidity_3pm'].head()

0    36.160000
1    19.426597
2    14.460000
3    12.742547
4    76.740000
Name: relative_humidity_3pm, dtype: float64

In [ ]:
y.head()

   high_humidity_label
0                    1
1                    0
2                    0
3                    0
4                    1

Use 9am Sensor signals to predict Humidity at 3PM

In [ ]:
time = '9am'
features = list(clean_data.columns[clean_data.columns.str.contains(time)])

# we do not need relative humidity at 9am 
features.remove('relative_humidity_9am')

features

['air_pressure_9am',
 'air_temp_9am',
 'avg_wind_direction_9am',
 'avg_wind_speed_9am',
 'max_wind_direction_9am',
 'max_wind_speed_9am',
 'rain_accumulation_9am',
 'rain_duration_9am']

In [ ]:
# Make the data of these features as X
X = clean_data[features].copy()
X

      air_pressure_9am  air_temp_9am  ...  rain_accumulation_9am  rain_duration_9am
0           918.060000     74.822000  ...                    0.0                0.0
1           917.347688     71.403843  ...                    0.0                0.0
2           923.040000     60.638000  ...                    0.0               20.0
3           920.502751     70.138895  ...                    0.0                0.0
4           921.160000     44.294000  ...                    8.9            14730.0
...                ...           ...  ...                    ...                ...
1090        918.900000     63.104000  ...                    0.0                0.0
1091        918.710000     49.568000  ...                    0.0                0.0
1092        916.600000     71.096000  ...                    0.0                0.0
1093        912.600000     58.406000  ...                    0.0                0.0
1094        921.530000     77.702000  ...                    0.0                0.0

[1064 rows x 8 columns]

Perform the test and Train split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 324)

In [ ]:
y_train.describe()

       high_humidity_label
count           712.000000
mean              0.494382
std               0.500320
min               0.000000
25%               0.000000
50%               0.000000
75%               1.000000
max               1.000000

In [ ]:
X_train.describe()

       air_pressure_9am  air_temp_9am  ...  rain_accumulation_9am  rain_duration_9am
count        712.000000    712.000000  ...             712.000000         712.000000
mean         918.913897     65.194366  ...               0.202399         282.884615
std            3.147923     11.210412  ...               1.628988        1584.404987
min          907.990000     36.752000  ...               0.000000           0.000000
25%          916.727792     57.375500  ...               0.000000           0.000000
50%          919.000000     65.967556  ...               0.000000           0.000000
75%          921.134993     73.908500  ...               0.000000           0.000000
max          929.320000     91.112000  ...              24.020000       17704.000000

[8 rows x 8 columns]

Fit the model on the training set

In [ ]:
humidity_classifier = DecisionTreeClassifier(max_leaf_nodes = 10, random_state = 0)
humidity_classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [ ]:
type(humidity_classifier)

sklearn.tree._classes.DecisionTreeClassifier

Test the model on the testing set

In [ ]:
predictions = humidity_classifier.predict(X_test)
type(predictions)

numpy.ndarray

In [ ]:
predictions[:10]
#predictions[:len(predictions)]

array([0, 0, 1, 1, 1, 1, 0, 0, 0, 1])

In [ ]:
y_test[['high_humidity_label']][:10]

      high_humidity_label
456                     0
845                     0
693                     1
259                     1
723                     1
224                     1
300                     1
442                     0
585                     1
1057                    1

Measure the accuracy of the data

In [ ]:
accuracy_score(y_test, y_pred = predictions)

0.8153409090909091

Measuring the mean squared error

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred = predictions)

0.1846590909090909